@import "../../scss/lib/theme/vars";


.home {
  background: $brand-secondary;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;

  .gallery-section {
    overflow: auto;
    height: 30vw;
  }

  .thumbnail-container {
    height: 90vw;
    overflow: auto;
    margin-left: $gutter-std;
    margin-right: $gutter-std;
  }
}
