@import "../../scss/lib/theme/vars";


.home {
  background: $brand-secondary;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;

  .gallery-section {
    overflow: auto;
    height: 60vw;
    // height: 20vw;
  }
}
