<section class="home">
  <create-gallery></create-gallery>

  <!-- <uib-accordion>
      <p uib-accordion-group class="panel-default" heading="stuff">
        some text for the section
      </p>
      <p uib-accordion-group class="panel-default" heading="things">
        some text for the section
      </p>
      <p uib-accordion-group class="panel-default" heading="dopeness">
        some text for the section
      </p>
  </uib-accordion> -->

  <input class="gallery-search" ng-model="homeCtrl.gallerySearchTerm" type="text" placeholder="search">

  <div class="gallery-section">
    <ul>
      <gallery-item
        ng-repeat="item in homeCtrl.galleries | gallerySearch: homeCtrl.gallerySearchTerm | orderBy: 'name'"
        gallery="item"
        delete-done="homeCtrl.galleryDeleteDone(galleryData)"
        ng-click="homeCtrl.currentGallery=item">
      </gallery-item>
    </ul>
  </div>
  <thumbnail-container ng-if="homeCtrl.currentGallery" gallery="homeCtrl.currentGallery"></thumbnail-container>
</section>
