.login-form {
  width: 100%;
  margin: 0 auto;
  padding-top: 5vw;

  p {
    color: $brand-primary;
    margin-left: $gutter-std;
    margin-bottom: $gutter-sm;
    font-family: $brand-primary;
    font-size: 3vw;
    font-weight: 100;

  }

  .input-std {
    width: 80%;
    height: 6vw;
    margin-left: $gutter-std;
    margin-bottom: $gutter-std;
    padding-left: 5vw;
  }

  .btn-std {
    width: 30%;
    height: 6vw;
    padding: 1%;
    border-radius: 3px;
    float: right;
    margin-right: 6vw;
    background: $brand-primary;
    color: $white;
    font-family: $font-primary;
    font-size: 2vw;
  }
}
