@import "../../../scss/lib/theme/vars";

.create-gallery {
  width: 90%;
  margin: 0 auto;
  padding-top: 5vw;
  margin-left: $gutter-std;
  font-family: $font-primary;


  p {
    color: $brand-primary;
    margin-bottom: $gutter-sm;
    font-size: 2.5vw;
    font-weight: 100;
  }

  .input-std {
    width: 90%;
    height: 6vw;
    margin-left: $gutter-std;
    margin-bottom: $gutter-std;
    margin-right: $gutter-std;
    padding-left: 3vw;
    border: 1px solid $brand-terciary;
    border-radius: 5px;
    font-size: 2vw;
    box-sizing: border-box;
  }

  .btn-std {
    width: 30%;
    height: 6vw;
    padding: 1%;
    border-radius: 5px;
    border: none;
    float: right;
    background: $brand-primary;
    color: $white;
    font-family: $font-primary;
    font-size: 2vw;
    font-weight: 100;
  }

  h2 {
    margin-top: 15vw;
    font-family: $font-primary;
    font-weight: 100;
    font-size: 2.5vw;
  }
}
