<section class="create-gallery">

  <p>Create a new gallery.</p>

  <form name="createGalleryForm"
    class='gallery-form'
    ng-submit="createGalleryCtrl.createGallery()">
    <fieldset>
      <!-- <label for="name"></label> -->
      <input
        name="name"
        class="input-std"
        placeholder="name"
        type="text"
        ng-model="createGalleryCtrl.gallery.name" required>
    </fieldset>

    <fieldset>
      <!-- <label for="desc">description</label> -->
      <input
        name="desc"
        class="input-std"
        placeholder="description"
        type="text"
        ng-model="createGalleryCtrl.gallery.desc" required>
    </fieldset>

    <button class="btn-std" type="submit">create gallery</button>
    <h2>Galleries</h2>
  </form>
</section>
