.join-container {
  background: $brand-secondary;
  height: 100vw;
  margin-left: 10%;
  margin-right: 10%;
}

.other-page {
  clear: both;
  float: right;
  padding-right: $gutter-std;
  font-family: $font-primary;
  font-size: 2vw;

  a {
    text-decoration: none;
    color: $brand-primary;
    font-weight: bold;
  }

}
